@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Road+Rage&display=swap');

*
{
    margin :0;
    padding:0;
    box-sizing: border-box;

}
body
{
    background-color:#182947;
    height: 100vh;
}

header img {
    width: 100%;
}

.container-heading
{
  position: absolute;
  top:50vh;
  text-align: center;
  transform: skewY(-9deg) translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width:100%;
  max-width:768px;


}
h1 
{
font-family:'Love Ya Like A Sister', cursive;
font-size:8.75rem ;
text-transform: uppercase;
color: #eee;
line-height: 142px;

}

h1 span 
{
    font-family:'Oleo Script Swash Caps', cursive;
    color :#e8234d;
    text-transform: lowercase;
}

span.sup {
    vertical-align: super;
    font-size: 24px;
    font-family: 'Fuzzy Bubbles', cursive;
    letter-spacing: normal;
}

h4 span.fm
{
    font-size:1.4rem;
    text-transform: lowercase;
}
h2
{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 2.25rem;
    color:#e8234d;
    margin: 0 0 10px;
    letter-spacing: -2px;
}

h3
{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 2.75rem;
    color: #fff;
    background-color: #006e74;
    padding: 10px 25px;
    text-transform: uppercase;
    width: 100%;
    max-width: 660px;
    margin: 0 auto  10px;
}

h4
{
    font-size: 2rem;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
}
/**LOGIN BUTTON**/

.login
{
position: fixed;
left: 0;
top: 0;
z-index: 9999;
}

.login a
{
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: #2c3964;
    padding: 10px 20px;
    display: inline-block;
}

.login a:hover
{
background: #e8234d;

}


/**MEDIA**/

@media (max-width:1024px) {
    
h1 
{
font-size:6.5rem ;
line-height:122px;

}

span.sup {
    font-size: 22px;
}

h4 span.fm
{
    font-size:1.2rem;
}
h2
{
    font-size: 1.75rem;
}

h3
{

    font-size: 2rem;
    padding: 10px 25px;
    max-width: 483px;
}

h4
{
    font-size: 1.5rem;
}
/**LOGIN BUTTON**/

.login a
{
    font-size: 1.2rem;
    padding: 10px 20px;
 }
}


@media (max-width: 768px)
{
h1 {
    font-size: 4.5rem;
    line-height: 82px;
    max-width: 500px;
    margin: 0 auto;
}
h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.8rem;
    max-width: 440px;
}
h4 {
    font-size: 1.3rem;
}
span.sup {
    font-size: 20px;
}
}

@media (max-width: 690px)
{
    
.container-heading {
        top: 45vh;
    }
    
 h1 {
        font-size: 4rem;
        line-height: 76px;
    }
h2 {
    max-width: 270px;
    margin:0 auto;
}
h3 {
    font-size: 1.6rem;
    max-width: 332px;
    padding: 8px 10px;
    letter-spacing: -2px;
}
h4 {
    font-size: 1rem;
}
span.sup {
    font-size: 18px;
}

}
@media (max-width: 550px)
{
    
h1 {
    font-size: 3.5rem;
    line-height: 66px;
}
}
@media (max-width:450px)
{
.container-heading {
    top: 30vh;
}
.login a {
    font-size: 1rem;
    padding: 8px 15px;
}
h1 {
    font-size: 2.6rem;
    line-height: 46px;
    max-width: 380px;
}
h2 {
    max-width: 210px;
    font-size: 1.2rem;
}
h3 {
    font-size: 1.2rem;
    max-width: 230px;
    padding: 8px 3px;
}
span.sup ,h4 span.fm {
    font-size: 14px;
}
}
